body {
    height: 100%;
}

.sc-header {
    height: 100px;
    width: 100%;
    width: auto;
    display: flex;
    position: fixed;
    margin-bottom: 100px;
    z-index: 2;
    overflow: hidden;
    background: white;
}

.sc-header-logo {
    width: 100px;
}

.sc-header-logo img {
    width: 100%;
    height: auto;
}

.sc-header-name {
    float: right;
    color: #05386b;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: auto 10px;
    width: 300px;
    font-family: Bai Jamjuree;
}

.sc-header-name a {
    text-decoration: none;
    color: #05386b;
}

.sc-header-name a:hover {
    color: #003569;
}

.sc-header-name h3 {
    float: right;
    color: #05386b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    margin: 60px 0px 0px 12px;
    font-family: Bai Jamjuree;
}

.sc-heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    margin-top: 100px;
}

.sc-heading-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid transparent;
    border: 2px solid transparent;
}

.sc-heading-part button {
    width: 100%;
    border-radius: 0%;
}

.page-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    margin-top: 100px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.page-container::-webkit-scrollbar {
    display: none;
}
.page-content::-webkit-scrollbar {
    display: none;
}


.page-content {
    width: 100%;
    height: 500px;
    margin-top: 150px;
    z-index: 2;
    height: 100%;
    position: fixed;
    overflow-x: scroll;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

select:hover {
    cursor: pointer;
}

/* Responsive CSS */
@media only screen and (max-width: 600px) {
    .profile-row {
        flex-direction: column;
        margin: 15px;
    }

    .profile-row-left {
        margin: auto;
        text-align: center;
        width: auto;
    }

    .profile-row-right {
        margin: auto;
        text-align: center;
        width: auto;
    }

    .sc-header-logo {
        transform: scale(0.9);
    }

    .sc-header-name {
        float: right;
        color: #05386b;
        font-size: 17px;
        margin: auto 10px;
        width: 300px;
    }

}


@media only screen and (max-width: 550px) {
    .form-row {
        flex-direction: column;
        width: 90%;
    }

    .form-half {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5px;
        width: 90%;
    }

    .form-half-left,
    .form-half-right {
        width: 100%;
    }

    .form-full {
        width: 100%;
    }

    .form-full-left {
        width: 100%;
    }

    .form-full-right {
        width: 100%;
    }

    .form-full-right input {
        width: 100%;
    }

    .form-half-btn {
        margin: 5px;
    }

    .sc-header-logo {
        width: 80px;
        transform: scale(0.8);
    }

    .sc-header-name {
        color: #05386b;
        font-size: 17px;
        margin: auto 10px;
        margin-left: 0px;
        width: 250px;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 400px) {

    .sc-header-logo {
        transform: scale(0.6);
    }

    .sc-heading {
        flex-direction: column;
    }

    .sc-heading-part {
        width: 90%;
    }

    .page-content {
        margin-top: 200px;
    }

    #change-table {
        margin-top: 100px;
    }

    .SC-form-Container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sc-header {
        height: 100px;
        width: 260px;
        display: flex;
        position: fixed;
        margin-bottom: 100px;
        z-index: 2;
        overflow: hidden;
    }

    .sc-header-logo {
        width: 100px;
    }

    .sc-header-logo img {
        width: 100%;
        height: auto;
    }

    .sc-header-name {
        color: #05386b;
        font-size: 17px;
        margin: auto 0px;
        width: 250px;
        margin-left: -30px;
    }

    .sc-header-name a {
        text-decoration: none;
        color: #05386b;
    }

    .sc-header-name a:hover {
        color: #003569;
    }

    .sc-header-name h2 {
        color: #05386b;
        font-size: 17px;
    }
}

.profile-img-parent{
    width: 200px;
}

.profile-img img{
    /* width: 200px; */
    border-radius: 20px;

}

/*==================================================
 * Effect 8
 * ===============================================*/
 /* .box-shadow
 {
     position:relative;
     -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
             box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
 }
 .box-shadow:before, .box-shadow:after
 {
   content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
     -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
     box-shadow:0 0 20px rgba(0,0,0,0.8);
     top:10px;
     bottom:10px;
     left:0;
     right:0;
     -moz-border-radius:100px / 10px;
     border-radius:100px / 10px;
 }
 .box-shadow:after
 {
   right:10px;
     left:auto;
     -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
         -ms-transform:skew(8deg) rotate(3deg);
          -o-transform:skew(8deg) rotate(3deg);
             transform:skew(8deg) rotate(3deg);
 } */



 /*==================================================
 * Effect 1
 * ===============================================*/
.box-shadow{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
  }


.box-shadow:hover{
    cursor: pointer;
    transform: scale(1.01);
    font-weight: bold;
    color: #003569;
}

#profile_img{
    /* border: 2px solid red; */
    width: 50%;
    margin: auto;
    border-radius: 40px;
}
#profile_img img{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;


}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: rgb(33, 220, 20);
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:rgb(20, 220, 47);
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: rgb(20, 220, 60);
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   /* background: #eee; */
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   /* background: #fff; */
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: rgb(238, 238, 238);
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #d0fbdf;
   color:rgb(27, 220, 20);
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: rgb(30, 220, 20);
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color: rgb(18, 161, 18);
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: rgb(30, 220, 20)n;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}